<meta charset="utf-8">

<title data-i18n='{{title_i18n}}'>{{title}} - {{app}} v{{version}}</title>

<meta name="description" content="{{title}}">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no, minimal-ui">
<!-- Call App Mode on ios devices -->
<meta name="apple-mobile-web-app-capable" content="yes" />
<!-- Remove Tap Highlight on Windows Phone IE -->
<meta name="msapplication-tap-highlight" content="no">
<!-- base css -->
<link id="vendorsbundle" rel="stylesheet" media="screen, print" href="css/vendors.bundle.css?v={{random}}">
<link id="appbundle" rel="stylesheet" media="screen, print" href="css/app.bundle.css?v={{random}}">
<link id="mytheme" rel="stylesheet" media="screen, print" href="#">
<link id="myskin" rel="stylesheet" media="screen, print" href="css/skins/skin-master.css?v={{random}}">
<link rel="stylesheet" media="screen, print" href="css/notifications/sweetalert2/sweetalert2.bundle.css?v={{random}}">
<link rel="stylesheet" media="screen, print" href="css/notifications/toastr/toastr.css?v={{random}}">
<link rel="stylesheet" media="screen, print" href="css/datagrid/datatables/datatables.bundle.css?v={{random}}">
<link rel="stylesheet" href="css/formplugins/select2/select2.bundle.css?v={{random}}">

<!-- Place favicon.ico in the root directory -->
{{> include/_favicon}}